@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainBackground: #fafafa;
  --background: #ffffff;
  --foreground: #191919;
  /* --foreground: #171717; previously used */
  --secondary-background: #242526;
  --secondary-foreground: #ffffff;
  --muted-foreground: #606060
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
